<template>
  <transition name="slide-fade">
    <div class="wrapper" @mouseover="onMouseover" @mouseleave="onMouseleave">    
      <div class="checkbox">
        <label>
          <input type="checkbox" v-model="taskDone" />
          <span class="check" />
        </label>
      </div>
      <div class="content">{{ taskTitle }}</div>
      <div class="action-icon-wrapper">
        <svg height="12" width="12" version="1.1" xmlns="http://www.w3.org/2000/svg" stroke-linecap="square" class="action-icon" @click="remove" v-if="hover">
          <line x1="1" y1="11" x2="11" y2="1" />
          <line x1="1" y1="1" x2="11" y2="11" />
        </svg>
      </div>
    </div>
  </transition>
</template>

<script>
  import { mapState } from 'vuex';

  export default {
    name: 'task-item',

    props: {
      taskId: Number,
    },

    data() {
      return {
        hover: false,
      }
    },

    methods: {
      onMouseover() {
        this.hover = true;
      },
      onMouseleave() {
        this.hover = false;
      },
      remove() {
        this.$store.dispatch('tasks/remove', this.taskId);
      }
    },
    
    computed: {
      taskTitle: function() {
        return  this.$store.state.tasks.tasks[this.taskId].title;
      },
      taskDone: {
        get() {
          return !!this.$store.getters['tasks/getTaskById'](this.taskId).is_completed;
        },
        set(done) {
          done && this.$store.dispatch('tasks/done', this.taskId);
          !done && this.$store.dispatch('tasks/undone', this.taskId);
        },
      },
    },
  };
</script>

<style scoped>
  .wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: 7px 10px;
  }

  .wrapper:hover {
    background-color: #f0f0f0;
  }

  .content {
    flex: 1;
    margin: 0 10px;
  }

  .action-icon-wrapper {
    min-width: 12px;
  }

  .action-icon {
    cursor: pointer;
    stroke: black;
    stroke-width: 2;
    transition: stroke .5s ease-out;
  }

  .action-icon:hover {
    stroke: red;
  }

  /* transitions */
  .slide-fade-enter-active {
    transition: all .35s ease;
  }

  .slide-fade-leave-active {
    transition: all .5s ease;
  }

  .slide-fade-enter {
    transform: translateY(-20%);
    opacity: 0;
  }

  .slide-fade-leave-to {
    transform: translateX(5%);
    opacity: 0;
  }
  /* transitions end */
</style>

