@font-face {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 400;
  src: url('./assets/fonts/Rubik/Rubik-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 500;
  src: url('./assets/fonts/Rubik/Rubik-Medium.ttf') format('truetype');
}

html {
  box-sizing: border-box;
}

body {
  position: relative;
  color: #222;
  background-color: white;
  font-family: Rubik, sans-serif;
  margin: 0px;
}

/* components */

/* checkbox */
.checkbox {
  transform: translateZ(0);

  --checked-color: #157EFB;
  --checkbox-animation-time: .3s;
}

.checkbox label {
  cursor: pointer;
  margin: 0;
}

.checkbox input[type=checkbox] {
  opacity: 0;
  position: absolute;
  margin: 0;
  z-index: -1;
  width: 0;
  height: 0;
  overflow: hidden;
  left: 0;
  pointer-events: none;
}
  

.checkbox .check {
  position: relative;
  vertical-align: middle;
  display: inline-block;
  width: 17px;
  height: 17px;
  border: 1px solid #bebebe;
  border-radius: 2px;
  overflow: hidden;
  z-index: 1;
  margin: 0 8px 0 0;
  transition: border .5s ease-out;
}

.checkbox .check:hover {
  border: 1px solid var(--checked-color);
}

.checkbox .check:before {
  position: absolute;
  content: "";
  transform: scale(0.93) rotate(45deg);
  display: block;
  margin-top: -3px;
  margin-left: 6px;
  width: 0;
  height: 0;
  box-shadow:
    0 0 0 0 var(--checked-color),
    0 0 0 0 var(--checked-color),
    0 0 0 0 var(--checked-color),
    0 0 0 0 var(--checked-color),
    0 0 0 0 var(--checked-color),
    0 0 0 0 var(--checked-color),
    0 0 0 0 inset var(--checked-color);
  animation: checkbox-off var(--checkbox-animation-time) forwards ease-out;
}

.checkbox input[type=checkbox]:checked + .check {
  border-color: var(--checked-color); 
}

.checkbox input[type=checkbox]:focus + .check:after {
  opacity: 0.2;
}

.checkbox input[type=checkbox]:checked + .check:before {
  box-shadow:
    0 0 0 10px var(--checked-color),
    10px -10px 0 10px var(--checked-color),
    32px 0px 0 20px var(--checked-color),
    0px 32px 0 20px var(--checked-color),
    -5px 5px 0 10px var(--checked-color),
    20px -12px 0 11px var(--checked-color);
  animation: checkbox-on var(--checkbox-animation-time) forwards ease-out;
}

.checkbox input[type=checkbox][disabled]:not(:checked) ~ .check:before,
.checkbox input[type=checkbox][disabled] + .circle {
  opacity: 0.5;
}

.checkbox input[type=checkbox][disabled] + .check:after {
  transform: rotate(-45deg);
}

@keyframes checkbox-on {
  0% {
    box-shadow:
      0 0 0 10px var(--checked-color),
      10px -10px 0 10px var(--checked-color),
      32px 0px 0 20px var(--checked-color),
      0px 32px 0 20px var(--checked-color),
      -5px 5px 0 10px var(--checked-color),
      15px 2px 0 11px var(--checked-color);
  }
  50% {
    box-shadow:
      0 0 0 10px var(--checked-color),
      10px -10px 0 10px var(--checked-color),
      32px 0px 0 20px var(--checked-color),
      0px 32px 0 20px var(--checked-color),
      -5px 5px 0 10px var(--checked-color),
      20px 2px 0 11px var(--checked-color);
  }
  100% {
    box-shadow:
      0 0 0 10px var(--checked-color),
      10px -10px 0 10px var(--checked-color),
      32px 0px 0 20px var(--checked-color),
      0px 32px 0 20px var(--checked-color),
      -5px 5px 0 10px var(--checked-color),
      20px -12px 0 11px var(--checked-color);
  }
}
@keyframes checkbox-off {
  0% {
    box-shadow:
      0 0 0 10px var(--checked-color),
      10px -10px 0 10px var(--checked-color),
      32px 0px 0 20px var(--checked-color),
      0px 32px 0 20px var(--checked-color),
      -5px 5px 0 10px var(--checked-color),
      20px -12px 0 11px var(--checked-color),
      0 0 0 0 inset var(--checked-color);
  }

  25% {
    box-shadow:
      0 0 0 10px var(--checked-color),
      10px -10px 0 10px var(--checked-color),
      32px 0px 0 20px var(--checked-color),
      0px 32px 0 20px var(--checked-color),
      -5px 5px 0 10px var(--checked-color),
      20px -12px 0 11px var(--checked-color),
      0 0 0 0 inset var(--checked-color);
  }
  50% {
    transform: rotate(45deg);
    margin-top: -4px;
    margin-left: 6px;
    width: 0px;
    height: 0px;
    box-shadow:
      0 0 0 10px var(--checked-color),
      10px -10px 0 10px var(--checked-color),
      32px 0px 0 20px var(--checked-color),
      0px 32px 0 20px var(--checked-color),
      -5px 5px 0 10px var(--checked-color),
      15px 2px 0 11px var(--checked-color),
      0 0 0 0 inset var(--checked-color);
  }
  51% {
    transform: rotate(0deg);
    margin-top: -2px;
    margin-left: -2px;
    width: 20px;
    height: 20px;
    box-shadow:
      0 0 0 0 var(--checked-color),
      0 0 0 0 var(--checked-color),
      0 0 0 0 var(--checked-color),
      0 0 0 0 var(--checked-color),
      0 0 0 0 var(--checked-color),
      0 0 0 0 var(--checked-color),
      0px 0px 0 10px inset var(--checked-color);
  }
  100% {
    transform: rotate(0deg);
    margin-top: -2px;
    margin-left: -2px;
    width: 20px;
    height: 20px;
    box-shadow:
      0 0 0 0 var(--checked-color),
      0 0 0 0 var(--checked-color),
      0 0 0 0 var(--checked-color),
      0 0 0 0 var(--checked-color),
      0 0 0 0 var(--checked-color),
      0 0 0 0 var(--checked-color),
      0px 0px 0 0px inset var(--checked-color);
  }
}
/* checkbox end */