<template>
  <div>
    <b-nav>
      <b-nav-item>
        <router-link
          class="navbar-brand"
          :to="{ name: 'about.index' }"
        >
          About
        </router-link>
      </b-nav-item>
      <b-nav-item>
        <router-link
          class="navbar-brand"
          :to="{ name: 'task.index' }"
        >
          Tasks
        </router-link>
      </b-nav-item>
    </b-nav>
    <div class="container">
      <slot></slot>
    </div>
  </div>
</template>

<script>
  export default {
    name: 'core-layout',
  };
</script>

<style scoped>
  .nav {
    border-bottom: 1px solid #d0d0d0;
  }
</style>
